@import '../../constants/styles';

$arrow-size: 19px;

.OutlineNew {
  color: var(--outline-color);
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  // align-items: flex-start;
  margin: 0;
  padding: 0;

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    flex: 1;
    border-bottom: 1px solid var(--backgroundDark);
    
    .row {
      // margin: 4px 0;
      margin: 0;
      padding: 0;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      flex: 1;
      padding: 6px;
      justify-content: space-between;
      
      // border-bottom: 1px solid red;
    }
      
    .CustomButton {
      width: auto;
      height: auto;
      text-align: left;
      color: var(--outline-color);
      border: 0;
      display: flex;
      background: none !important;
    }

    .indicator {
      background: var(--backgroundLight);
      padding: 1px 3px;
      border-radius: 7px;
      color: var(--outline-color);
    }

    .active {
      background: var(--color-theme-primary);
    }

    &.hover {
      background: var(--backgroundLight);
    }

    &.hover > .editOutlineButton {
      opacity: 1;
    }

    &.selected {
      background: var(--outline-selected);
    }

    &.selected > .editOutlineButton {
      opacity: 1;
    }

    &:not(.selected):hover {
      background: var(--backgroundLight);
    }

    &:hover > .editOutlineButton {
      opacity: 1;
    }
  }
}
