@import '../../constants/styles';

$arrow-size: 19px;

.OutlineNew {
  color: var(--outline-color);
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  // align-items: flex-start;
  margin: 0;
  padding: 0;
  // background: green;
  // position: relative;
  // z-index: 1001;

  .delete {
    display: none;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    // background-color: red;
    background: none;
    border: 0;
    // position: relative;
    // z-index: 1001;
    // background: red;

    .icon-container {
      margin: 0;
      padding: 0;
      width: 28px;
      height: 20px;
      // margin-top: 6px;
      margin-left: 4px;
      padding-top: 5px;
      // background: yellow;
      // position: relative;
      // z-index: 1001;
    }
  }

  &.deletable:hover .delete {
    display: flex;
    // position: relative;
    // z-index: 1001;
  }

  &.deletable:hover .row {
    padding-left: 0px !important;
    // position: relative;
    // z-index: 1001;
    // background: red;
  }

  .content {
    // background: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 0;
    flex: 1;
    border-bottom: 1px solid var(--backgroundDark);

    .row {
      // margin: 4px 0;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      cursor: pointer !important;
      flex: 1;
      padding: 6px 15px;
      // padding-left: 0px;
      justify-content: space-between;
      // background: pink;

      // border-bottom: 1px solid red;
    }

    .CustomButton {
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      text-align: left;
      color: var(--outline-color);
      border: 0;
      display: flex;
      flex: 1;
      background: none !important;
      // background: blue;
    }

    .indicator {
      background: var(--backgroundLight);
      padding: 1px 5px;
      border-radius: 7px;
      color: var(--outline-color);
    }

    .active {
      background: var(--color-theme-primary);
    }

    &.hover {
      background: var(--backgroundLight);
      cursor: pointer !important;
    }

    &.hover > .editOutlineButton {
      opacity: 1;
    }

    &.selected {
      background: var(--outline-selected);
    }

    &.selected > .editOutlineButton {
      opacity: 1;
    }

    &:not(.selected):hover {
      background: var(--backgroundLight);
      cursor: pointer !important;
    }

    &:hover > .editOutlineButton {
      opacity: 1;
    }
  }
}
