@import '../../constants/panel';

.BookmarksPanel {
  padding: 0px 0px;
  // padding-top: 16px;

  .bookmarks-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: green;
    padding-top: 14px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 14px;
    border-bottom: 1px solid var(--backgroundDark);

    .bookmarks-panel-container {
      display: flex;
      align-items: center;
    }

    .bookmarks-panel-label {
      margin-left: 8px;
    }

    .bookmarks-panel-button {
      display: flex;
      justify-content: center;
      align-items: center;
      // color: svar(--primary-button-text);
      color: var(--outline-color);
      padding: 4px 12px;

      width: auto;
      width: fit-content;
      background: var(--primary-button);
      border-radius: 4px;
      height: 32px;
      cursor: pointer;

      &:hover {
        background: var(--primary-button-hover);
      }
    }
  }

  .bookmarks-panel-row {
    // margin: 0 8px 16px 16px;
    margin: 0;

    .bookmarks-panel-label {
      margin-top: 8px;
      font-weight: bold;
      padding-top: 10px;
    }
  }
}
